@charset "utf-8";
/* CSS Document 添加类别样式*/
.box_top{
	width:100%;
	overflow:hidden;
	}
.box_top table{
	text-align:center;
	width:50%;
	overflow:hidden;
	border:1px solid #666;
	}
.box_top table th{
	background-color:#666;
	}
.box_top table td,th{
	border:1px solid #666;
	}
.box_bottom{
	width:100%;
	overflow:hidden;
	margin-top:20px;
	}
.box_bottom span{
	color:red;
	font-size:14px;
}
.box p{
	margin-bottom:10px;
	}