@charset "utf-8";
/* CSS Document 右侧商品列表*/
.b_right {
	clear: none;
	width: 65%;
	float: left;
}

.box {
	width: 100%;
	padding-left: 20px;
	padding-top: 20px;
}

.box ul li {
	border: #066 1px solid;
	float: left;
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.page {
	clear: both;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}