@charset "utf-8";
/* CSS Document 主页分类列表*/
.b_right {
	clear: none;
	width: 70%;
	float: left;
	margin-left: 10px;
}

.b_right ul li {
	list-style-type: none;
	width: 90%;
	overflow: hidden;
	margin: 30px auto;
}

.b_right ul li hr {
	width: 90%;
	text-align: left;
	margin-top: 10px;
}

.b_right ul li ul li {
	width: 17%;
	border: #066 1px solid;
	float: left;
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}